@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* Colors */
/* Font sizes */
/* Fonts */
/* Colors */
/* Font sizes */
/* Fonts */
@import url(../icon-dist/icons.css);
@import url(../node_modules/normalize.css/normalize.css);
/* Colors */
/* Font sizes */
/* Fonts */
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f2;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 1724px;
  overflow: auto;
  display: flex;
}

body .header {
  width: calc(100% - 188px);
  height: 60px;
  display: flex;
  border: thin solid #e3e3e3;
  margin-left: 188px;
  position: fixed;
}

body .menu {
  position: fixed;
  background-color: #191919;
  width: 188px;
  height: 100vh;
}

body .main {
  margin: 60px 18px 22px 207px;
}

body .col-1 {
  width: 8.33%;
}

body .col-2 {
  width: 16.66%;
}

body .col-3 {
  width: 25%;
}

body .col-4 {
  width: 33.33%;
}

body .col-5 {
  width: 41.66%;
}

body .col-6 {
  width: 50%;
}

body .col-7 {
  width: 58.33%;
}

body .col-8 {
  width: 66.66%;
}

body .col-9 {
  width: 75%;
}

body .col-10 {
  width: 83.33%;
}

body .col-11 {
  width: 91.66%;
}

body .col-12 {
  width: 100%;
}

/* Colors */
/* Font sizes */
/* Fonts */
/* Colors */
/* Font sizes */
/* Fonts */
.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
}

.row .wallet {
  display: flex;
  flex-direction: row;
  border-left: thin solid #e3e3e3;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}

.row .wallet .icon-wallet {
  width: 17px;
  height: 19px;
  font-size: 18px;
}

.row .wallet .icon-wallet:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .wallet .payment {
  height: 19px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
}

.row .wallet .payment:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .wallet .icon-arrow-down-small {
  width: 11px;
  height: 7px;
  font-size: 8px;
}

.row .wallet .icon-arrow-down-small:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .notify {
  display: flex;
  flex-direction: row;
  border-left: thin solid #e3e3e3;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}

.row .notify .icon-notification {
  position: relative;
  width: 16px;
  height: 17px;
}

.row .notify .icon-notification:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .notify .icon-notification .notify-point {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  left: 50%;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f58220;
}

.row .profile {
  display: flex;
  flex-direction: row;
  border-left: thin solid #e3e3e3;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}

.row .profile .icon-profile {
  width: 17px;
  height: 17px;
}

.row .profile .icon-profile:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .profile .profile-name {
  padding-left: 15px;
  color: #56819f;
  font-size: 13px;
}

.row .profile .profile-name:hover {
  cursor: pointer;
  color: #7aaacc;
}

.row .exit {
  display: flex;
  flex-direction: row;
  border-left: thin solid #e3e3e3;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}

.row .exit .icon-quit {
  width: 19px;
  height: 15px;
}

.row .exit .icon-quit:hover {
  cursor: pointer;
  color: #7aaacc;
}

/* Colors */
/* Font sizes */
/* Fonts */
/* Colors */
/* Font sizes */
/* Fonts */
.column-options {
  display: flex;
  flex-direction: column;
}

.column-options .menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-options .menu-header .logo {
  padding: 18px 46px 18px 20px;
}

.column-options .menu-header .fa-bars {
  width: 18px;
  height: 16px;
  font-size: 20px;
  color: #999999;
}

.column-options .menu-header .fa-bars:hover {
  cursor: pointer;
  color: #ffffff;
}

.column-options .column-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: center;
}

.column-options .column-icons .option {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  color: #999999;
  text-decoration: none;
  transition: border-left 0.5s ease, background-color 0.5s ease;
}

.column-options .column-icons .option:hover {
  background-color: #282828;
  border-left: 4px solid #f58220;
  color: #ffffff;
}

.column-options .column-icons .option i {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 18px;
  font-size: 10px;
}

.column-manager {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 20px;
}

.column-manager .manager-header {
  font-size: 14px;
  font-weight: 500;
  color: #808080;
}

.column-manager .manager-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.column-manager .manager-data .manager-photo {
  position: relative;
}

.column-manager .manager-data .manager-photo .online {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #04ae00;
}

.column-manager .manager-data .manager-name {
  font-size: 14px;
  color: #56819f;
  padding-left: 15px;
  text-decoration: none;
}

.column-manager .manager-data .manager-name:hover {
  cursor: pointer;
  color: #7aaacc;
}

/* Colors */
/* Font sizes */
/* Fonts */
/* Colors */
/* Font sizes */
/* Fonts */
.general {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.general .general-header {
  border-bottom: thin solid #e3e3e3;
  color: #a6a6a6;
  height: 46px;
  display: flex;
  align-items: center;
}

.general .general-header p {
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
}

.general .date-container {
  display: flex;
  flex-direction: row;
  height: 110px;
  border-bottom: thin solid #e3e3e3;
  align-items: center;
  justify-content: center;
}

.general .date-container .dates {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  border: 1px solid #e3e3e3;
  margin-right: 13px;
  border-radius: 3px;
}

.general .date-container .dates input {
  border: none;
  padding-left: 10px;
}

.general .date-container .dates .icon-calendar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #9c9c9c;
}

.general .date-container .refresh {
  background-color: #f58220;
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

.general .date-container .refresh:hover {
  background-color: #f77606;
  cursor: pointer;
}

.general .date-container .refresh i {
  display: flex;
  align-items: center;
}

.general .stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.general .stats .stat-col {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.general .stats .stat-col .stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.general .stats .stat-col .stat-row .stat-name {
  font-weight: 700;
  font-size: 16px;
  color: #a6a6a6;
}

.general .earnings-chart {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  color: #a6a6a6;
  justify-content: center;
  padding: 40px;
}

.general .earnings-chart .earnings-header {
  padding-left: 40px;
}

.general .earnings-chart .stat-image {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.general .earnings-chart .center {
  align-self: center;
}

/* Colors */
/* Font sizes */
/* Fonts */
/* Colors */
/* Font sizes */
/* Fonts */
.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: 22px;
}

.links .links-header {
  border-bottom: thin solid #e3e3e3;
  color: #a6a6a6;
  height: 46px;
  display: flex;
  align-items: center;
}

.links .links-header p {
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
}

.links .links-body {
  display: flex;
  flex-direction: column;
}

.links .links-body .center {
  align-self: center;
}

.links .links-body .add-link-button {
  background-color: #f58220;
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 127px;
  margin: 23px 0;
}

.links .links-body .add-link-button:hover {
  background-color: #f77606;
  cursor: pointer;
}

.links .links-body .links-list {
  padding: 0;
}

.links .links-body .links-list .list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  transition: background-color 0.5s ease;
}

.links .links-body .links-list .list-row:hover {
  background-color: rgba(177, 191, 191, 0.18);
}

.links .links-body .links-list .list-row:hover .link-icons {
  visibility: visible;
}

.links .links-body .links-list .list-row:first-child {
  border-top: 1px solid #e3e3e3;
}

.links .links-body .links-list .list-row .link-name {
  width: 41.66%;
  margin-left: 25px;
  color: #a6a6a6;
  font-weight: 700;
}

.links .links-body .links-list .list-row .links-link {
  width: 41.66%;
}

.links .links-body .links-list .list-row .links-link a {
  text-decoration: none;
  color: #56819f;
}

.links .links-body .links-list .list-row .links-link a:hover {
  color: #7aaacc;
}

.links .links-body .links-list .list-row .link-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 16.66%;
  margin-right: 25px;
  visibility: hidden;
}

.links .links-body .links-list .list-row .link-icons .icon-links {
  display: flex;
  align-items: center;
  color: #f58220;
  font-size: 10px;
  margin-right: 23px;
}

.links .links-body .links-list .list-row .link-icons .icon-links:hover {
  color: #f77606;
  cursor: pointer;
}

.links .links-body .links-list .list-row .link-icons .icon-trash {
  color: #9c9c9c;
}

.links .links-body .links-list .list-row .link-icons .icon-trash:hover {
  color: #818181;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */