@import "variables";

@mixin column-display {
    display: flex;
    flex-direction: column;
}

@mixin row-display {
    display: flex;
    flex-direction: row;
}

@mixin header-columns {
    @include row-display;
    border-left: thin solid #e3e3e3;    
    justify-content: center;
    align-items: center;
    color: #9c9c9c;
}

@mixin on-link-hover {
    &:hover {
        cursor: pointer;
        color: $link-hover-color;
    }
}

@mixin menu-header {
    @include row-display;
    align-items: center;
}

@mixin menu-options { 
    @include column-display;
    flex-wrap: wrap;    
    font-weight: 300;

}

@mixin arrangement-text {
    height: 40px;
    display: flex;
    align-items: center;
}

@mixin main-section-font {
    font-weight: 700;
    font-size: 16px; 
    color: $stat-color;
}

@mixin buttons-style {
    background-color: $buttons-color;
    color: $header-bg-color;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $buttons-on-hover;
        cursor: pointer;
    }
}

@mixin sections-in-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $header-bg-color;
    margin-top: 22px;
}

@mixin sections-in-main-header {
    border-bottom: thin solid $border-color;
    color: $main-sections-header;
    height: 46px;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding-left: 17px;
        font-size: 16px;
        font-weight: 500;
        line-height: 42px;
    }
}