@import "../variables";
@import "../mixins";

.details {
    @include sections-in-main;

    .details-header {
        @include sections-in-main-header;
    }
    .date-container {
        @include date;             
    }
    .details-body {
        display: flex;
        justify-content: center;

        .table{
            width: 100%;
            max-width: 100%;
            overflow-x: auto;
            margin: 20px;
            
            * {
                white-space: nowrap;
            }  
            table {
                width: 100%;                               

                tr {
                    @include row-display;
                    height: 57px; 
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid $border-color;

                    &:hover {
                        cursor: pointer;
                        background-color: #b1bfbf;
                    }
                    &:first-child:hover {
                        background-color: white;
                    }

                    th {
                        @include details-table;                        
                        color: $stat-color;                         
                        text-align: left; 
                        display: flex;
                        align-items: center;                                                
                        
                        &:hover {
                            background-color: $body-bg-color;
                            cursor: pointer;
                        }
                        &:hover i {
                            visibility: visible;
                        }
        
                        i {
                            margin-left: 15px;
                            font-size: 8px;                        
                            visibility: hidden;
                        }
                    } 
                    td {                        
                        @include details-table;
                    } 
                }                            
            }                   
        }                       
    }
    .pagin {
        @include row-display;
        margin: 40px 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 3px;
            text-decoration: none;
            color: $links-color;
            font-size: 16px;
            font-weight: 400;

            i {
                color: $main-sections-header; 
                font-weight: 700;
            }

            &:hover {
                background-color: #f1f3f3;
                color: $main-sections-header; 
                font-weight: 700;
            }
            &:hover i {
                font-weight: 900;
            }
        }
    }         
}