@import "../variables";
@import "../mixins";



    .general {
        @include sections-in-main;        

        .general-header {
            @include sections-in-main-header;                
        }
        .date-container {
            @include date;           
        }
        .stats {
            @include row-display;
            justify-content: center;            

            .stat-col {
                @include column-display;
                padding: 40px;

                .stat-row {
                    @include row-display;
                    justify-content: space-between;
                    padding-top: 10px;
                    border-bottom: 1px solid $border-color;

                    .stat-name {
                        @include main-section-font;                        
                    }
                }

            }

            //Stats on phones
            @media (max-width: 830px) {
                @include column-display;
                
                .stat-col {
                    width: 83.33%;
                    align-self: center;
                    padding: 40px 20px;                    
                }
            }
        }
        .earnings-chart {
            @include column-display;
            @include main-section-font;            
            justify-content: center;
            padding: 40px;

            .earnings-header {
                padding-left: 40px;
            }
            .stat-image {
                display: flex;
                justify-content: center;
                padding: 40px;

                //Stat-image on phones
                @media (max-width: 830px) {
                    overflow: auto;
                    padding: 40px 0;
                    img {                        
                        max-width: 300px; 
                        background-size: cover;                                               
                    }       
                    
                }
            }
            .center {
                align-self: center;
            }
        }
    }
    .shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
