@import "../variables";
@import "../mixins";

   

    .row {
        @include row-display;       
        height: 100%; 
        width: 100%;        
        justify-content: flex-end;
        background-color: $header-bg-color;        

        .open-sidebar {
            display: none;
            background-color: $border-color;
            
            //Hamburger on phones
            @media (max-width: 768px) {
                @include header-columns;
                @include header-on-phone;
                @include on-link-hover;
                display: flex;
                font-size: 30px;                
            }
        }
        .wallet {
            @include header-columns;

            .icon-wallet {
                @include on-link-hover;

                width: 17px;
                height: 19px;
                font-size: 18px;                 
            }
            .payment {
                @include on-link-hover;

                height: 19px;
                padding: 0 15px;
                font-size: 20px;
                font-weight: 400;
            }
            .icon-arrow-down-small {
                @include on-link-hover;

                width: 11px;
                height: 7px;
                font-size: 8px;
            }

            //Wallet on phones
            @media (max-width: 768px) {
                @include header-on-phone;
                @include on-link-hover;                                
            }
        }
        .notify {
            @include header-columns;          

            .icon-notification {
                @include on-link-hover;

                position: relative;  
                width: 16px;
                height: 17px;              

                .notify-point {
                    position: absolute;
                    transform: translateY(-50%);               
                    top: 50%;
                    left: 50%;
                    left: 50%;    
                    top: 0;                
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $buttons-color;
                }
            } 
            
            //Notify on phones
            @media (max-width: 768px) {
                @include header-on-phone;
                @include on-link-hover;                 
            }
        }
        .profile {
            @include header-columns;           

            .icon-profile {
                @include on-link-hover;

                width: 17px;
                height: 17px;
            }
            .profile-name {
                @include on-link-hover;

                padding-left: 15px;
                color: $links-color;
                font-size: 13px;
            }

            //Profile on phones
            @media (max-width: 768px) {
                @include header-on-phone;
                @include on-link-hover;                
                
                &:hover .profile-name {
                    color: $link-hover-color;
                }
            }            
        }
        .exit {
            @include header-columns;          

            .icon-quit {
                @include on-link-hover;

                width: 19px;
                height: 15px;
            }

            //Exit on phones
            @media (max-width: 768px) {
                @include header-on-phone;
                @include on-link-hover;
                border-bottom: none;
            }
        }

        //Row on phones
        @media (max-width: 768px) {
            @include column-display;                                   
        }
    }    
