@import "../variables";
@import "../mixins";

   
    
    .column-options {
        @include column-display;        

        .menu-header {
            @include menu-header;

            .logo {
                padding: 18px 46px 18px 20px;                
            }
            .fa-bars {
                width: 18px;
                height: 16px;
                font-size: 20px;
                color: $hamburger-color;

                &:hover {
                    cursor: pointer;
                    color: $header-bg-color;
                }
            }
        }  
        .column-icons {
            @include menu-options;            
            justify-content: center;            

            .option {
                @include menu-link;                
                color: $hamburger-color;
                
                &:hover {
                    @include menu-link-hover;                    
                }                                                        
            } 
            .active {
                @include menu-link;
                @include menu-link-hover;
            }               
        }         
    }
    .column-manager {
        @include column-display;
        padding: 30px 0 0 20px;

        .manager-header {
            font-size: 14px;
            font-weight: 500;
            color: $menu-manager-header-color;            
        }
        .manager-data {
            @include row-display;            
            align-items: center;
            padding-top: 20px;

            .manager-photo {
                position: relative;

                .online {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    right: 0;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: #04ae00; 
                }
            }           

            .manager-name {
                @include on-link-hover;

                font-size: 14px;
                color: $links-color;
                padding-left: 15px;
                text-decoration: none;
            }
        }
    }
