@import "../variables";
@import "../mixins";

.menu {
    position: fixed;
    background-color: $menu-bg-color;
    width: 188px;
    height: 100vh;   
    
    .column-options {
        @include column-display;        

        .menu-header {
            @include menu-header;

            .logo {
                padding: 18px 46px 18px 20px;                
            }
            .fa-bars {
                width: 18px;
                height: 16px;
                font-size: 20px;
                color: $hamburger-color;
            }
        }  
        .column-icons {
            @include menu-options;            
            justify-content: center;            

            .option {
                @include arrangement-text;
                position: relative; 
                padding-left: 50px; 
                font-size: 14px;
                color: $hamburger-color;
                text-decoration: none;                 
                transition: border-left 0.5s ease, background-color 0.5s ease;                                      
                
                &:hover {
                    background-color: $menu-bg-hover;
                    border-left: 4px solid $buttons-color;
                    color: $header-bg-color;                    
                }  
                i {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 18px;
                    font-size: 10px;
                }                                        
            }                
        }            
        
    }
    .column-manager {
        @include column-display;
        padding: 30px 0 0 20px;

        .manager-header {
            font-size: 14px;
            font-weight: 500;
            color: $menu-manager-header-color;            
        }
        .manager-data {
            @include row-display;
            position: relative;
            align-items: center;
            padding-top: 20px;

            .online {
                position: absolute;
                bottom: 35px;
                left: 30px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #04ae00; 
            }

            .manager-name {
                @include on-link-hover;

                font-size: 14px;
                color: $links-color;
                padding-left: 15px;
                text-decoration: none;
            }
        }
    }
}